.site-slide {
    background-color: #fceae8;
    border-radius: 1em;
    margin-top: 120px;
}

.categories img {
    width: 100px;
}

/* practice with JkR korar somoy aikhane (! importent) use korte hoy nai but aikhane kno korte hoitase jni nah__I will find this solution in future inshallah */

.item-footer {
    border: 0 !important;
    background-color: white !important;
}

.item-card {
    border: 0px !important;
}